  *{
      box-sizing: border-box;
      margin: 0;
      padding: 0;
  }
  @font-face{
    font-family:SFUIText;
    src: url("../fonts/SFUIText-Light.ttf");
  }
  article{
      position: relative;
      height: 1370px;
  }
  .wp-items{
     display: flex;
     flex-wrap: wrap;
  }
  .items{
    width: 546px;
    height: 640px;
    border-radius: 18px;
    box-shadow: 0 3px 22px 0 rgba(0, 0, 0, 0.08);
    background-color: #ffffff;
    position: relative;
    margin-bottom: 45px;
  }
  .items-1{
      margin-right: 48px;
  }
  .items-3{
      margin: 40px auto;
  }
  .items img{
    width: 470px;
    height: 592px;
    object-fit: contain;
    position: absolute;
    top:-119.5px;
    left: 36.5px;
  }
  .items:hover{
    transition: all ease-in-out 0.5s;
    transform: scale(1.05);
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.08);
  }
  .wp-tile{
    width: 546px;
    height: 165px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: #feb213;
    position: absolute;
    left: 0;
    bottom: 126px;
  }
  .wp-tile p{
    font-family: SFUIText;
    font-size: 34px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 165px;
    letter-spacing: 1.41px;
    text-align: center;
    color: #ffffff;
    font-variant: small-caps;
  }
  .wp-describe{
    height: 74px;
    text-align: center;
    padding: 0 36.5px;
    margin: 26px 0;
  }
  .wp-describe span{
    font-family: SFUIText;
    font-size: 22px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.6;
    letter-spacing:1.2px;
    text-align: center;
    color: #b6b8bd;
  }
  .container{
      margin: 0 auto;
      padding: 0;
      width: 100%;
  }
  
  /*---------------------*/
  .about-partner{
    margin-top: 121px;
    position: relative;
  }
  .about-title{
    text-align: center;
    position: relative;
    height: 101px;
  }
  .about-title h2{
    font-family: SFUIText;
    font-size: 40px;
    font-weight: 900;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #4d332d;
  }
  .about-title_space{
    width: 120px;
    background-color: #feb213;
    height: 5px;
    position: absolute;
    left: 50%;
    bottom:0;
    transform: translate(-50%);
  }
  .wp-partner{
    margin-top: 130px;
    display: flex;
    flex-wrap: wrap;
  }
  .wp-partner img{
    object-fit: contain;
  }
  .partner-flying{
    margin-right: 10px;
  }
  .partner-le{
    margin: 33px 0 0 0 ;
    width: 360px;
    height: 99px;
  }
  .partner-am{
    margin: 33px 0 0 0;
    width: 272px;
    height: 99px;
  }
  .partner-si{
    margin: 33px 0 0 0;
    width: 270px;
    height: 99px;
  }
  .about-btn{
      width: 287px;
      height: 62px;
      border-radius: 4px;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      border: solid 2px #ffffff;
      background-color: #ffffff;
      position: absolute;
      bottom: -50%;
      left: 50%;
      transform: translate(-50%, 50%);
      font-family: SFUIText;
      font-size: 17px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 62px;
      letter-spacing: normal;
      text-align: center;
      color: #101010;
      text-decoration: none;
    }
    .about-btn:hover{
      background-color: hsl(41, 99%, 54%);
      color: red;
    }
  /*-------------Responsive---------------*/

  @media(max-width:1024px){
    article{
      height: 1160px;
    }
    .items{
      width: 456px;
      height: 540px;
    }
    .items img{
      width: 380px;
      height: 500px;
      top: -110px;
    }
    .wp-tile{
      width: 456px;
      height: 130px;
    }
    .wp-tile p{
      line-height: 130px;
      font-size: 26px;
    }
    .wp-describe span{
      font-size: 18px;
      letter-spacing: 1.2px;
    }
    /*-----------------------*/
    .wp-partner{
      margin-top: 100px;
    }
    .partner-flying{
      width: 200px;
      margin-right: 20px;
    }
    .partner-le{
      width: 300px;
    }
    .partner-am{
      width: 220px;
    }
    .partner-si{
      width: 220px;
    }
  }
  @media(max-width:768px){
    article{
      height: 835px;
    }
    .items{
      width: 326px;
      height: 385px;
    }
    .items img{
      width: 280px;
      height: 450px;
      top: -30.5%;
      left: 26.5px;
    }
    .wp-tile{
      width: 326px;
      height: 80px;
      bottom: 92px;
    }
    .wp-tile p{
      line-height: 80px;
      font-size: 21px;
      letter-spacing: 0;
    }
    .wp-describe span{
      font-size: 14px;
      letter-spacing: 0.4px;
    }
    .wp-describe{
      bottom: 0;
      padding: 0 23.5px;
    }
    /*-----------------------*/
    .partner-flying{
      width: 240px;
      margin-right: 40px;
    }
    .partner-le{
      width: 376px;
      margin-left: 40px;
    }
    .partner-am{
      width: 275px;
    }
    .partner-si{
      width: 275px;
      margin-left: 40px;
    }
    .about-btn{
      bottom: -25%;
      transform: translate(-50%, 25%);
    }
  }
  @media(max-width:540px){
    article{
      height: 1640px;
    }
    .items{
      width: 500px;
      height: 460px;
      margin: 0 20px 60px;
    }
    .items img{
      width: 445px;
      height: 450px;
      top: -22%;
      left: 26.5px;
    }
    .wp-tile{
      width: 100%;
      height: 80px;
      bottom: 92px;
    }
    .wp-tile p{
      line-height: 80px;
      font-size: 34px;
      letter-spacing: 0;
    }
    .wp-describe span{
      font-size: 18px;
      letter-spacing: 1.8px;
    }
    .wp-describe{
      bottom: 0;
      padding: 0 23.5px;
    }
    .items-1{
      margin-bottom: 130px;
    }
    .items-3{
      margin-top: 70px;
    }
    /*-----------------------------*/
    .partner-flying{
      width: 240px;
      margin: 10px auto;
    }
    .partner-le{
      width: 376px;
      margin: 10px auto;
    }
    .partner-am{
      width: 275px;
      margin: 10px auto;
    }
    .partner-si{
      width: 275px;
      margin: 10px auto;
    }
    .about-btn {
      bottom: -15%;
      transform: translate(-50%, 15%);
    }
  }

  @media(max-width:414px){
    article{
      height: 1350px;
    }
    .items{
      width: 371px;
      height: 402px;
      margin: 0 20px 30px;
    }
    .items img{
      width: 320px;
      height: 450px;
      top: -28%;
      left: 23.5px;
    }
    .wp-tile{
      width: 100%;
      height: 80px;
      bottom: 92px;
    }
    .wp-tile p{
      line-height: 80px;
      font-size: 26px;
      letter-spacing: 0;
    }
    .wp-describe span{
      font-size: 14px;
      letter-spacing: 0.8px;
    }
    .wp-describe{
      bottom: 0;
      padding: 0 23.5px;
    }
    .items-1{
      margin-bottom: 70px;
    }
    .items-3{
      margin-top: 40px;
    }
    /*--------------*/
    .about-partner {
      margin-top: 60px;
     }
    .about-title{
      height: 70px;
    }
    .about-title h2{
      font-size: 28px;
    }
    .wp-partner{
      margin-top: 50px;
    }
  }
  @media(max-width:375px){
    article{
      height: 1250px;
    }
    .items{
      width: 320px;
      height: 370px;
      margin:0 auto 70px;
    }
    .items img{
      width: 270px;
      height: 450px;
      top: -35%;
      left: 23.5px;
    }
    .wp-tile p{
      font-size: 21px;
    }
    .wp-describe span{
      font-size: 14px;
      letter-spacing: 0.6px;
    }
    .wp-describe{
      bottom: 0;
      padding: 0 15.5px;
    }
    /*----------------------*/
    .about-title{
      height: 50px;
    }
    .about-title h2{
      font-size: 24px;
    }
    .partner-le{
      width: 320px;
    }
  }
  @media(max-width:320px){
    article{
      height: 1160px;
    }
    .items{
      width: 265px;
      height: 340px;
      margin:0 auto 70px;
    }
    .items img{
      width: 235px;
      height: 450px;
      top: -42%;
      left: 15.5px;
    }
    .wp-describe span{
      font-size: 14px;
      letter-spacing: 0.2px;
    }
    .wp-tile p {
      font-size: 18px;
    }
    .wp-describe{
      bottom: 0;
      padding: 0 15.5px;
    }
    /*------------------*/
    .about-title h2 {
      font-size: 20px;
     }
     .partner-le {
      width: 260px;
     }
     .about-btn{
       width: 200px;
     }
  }
  @media(width:1920px){
    article{
      height: 1560px;
    }
    .items{
      width: 701px;
      height: 693px;
      margin-bottom: 90px;
    }
    .items img{
      width: 628px;
    }
    .wp-tile{
      width: 701px;
    }
    .wp-tile p{
      font-size: 47px;
    }
    .wp-describe span{
      font-size: 25px;
    }
    .items-3{
      margin: 80px auto;
    }
    /*-------------*/
    .partner-flying{
      margin-right: 46.5px;
    }
    .partner-le{
      margin: 33px 54px 0 46.5px ;
      width: 376px;
      height: 99px;
    }
    .partner-am{
      margin: 33px 51px 0 48.5px;
      width: 272px;
      height: 99px;
    }
    .partner-si{
      margin: 33px 0 0 48.5px;
      width: 281px;
      height: 99px;
    }
  }
  /*--------------------------------*/
  @media (min-width: 576px){
    .container {
        max-width: 540px;
        padding: 0 10px;
    }}
    
    @media (min-width: 768px){
    .container {
        max-width: 720px;
    }}
    @media (min-width: 992px){
    .container {
        max-width: 960px;
        padding: 0;
    }}
    @media (min-width: 1200px){
    .container {
        max-width: 1140px;
        padding: 0;
    }
    @media (min-width: 1920px){
        .container {
            max-width: 1450px;
            padding: 0;
        }
       }
   }